.child {
    width: 100px;
    height: 100px;
    color: white;
    background-color: orange;
    margin: 5px;
    padding: 10px;
    font-size: 2em;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    justify-content: center;
    align-items: center;
}